.backpacks_wrap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    height: max-content;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backpacks__bags_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}