html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.body_layout {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
}

.main__page {
    display: flex;
    width: 100%;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.aside {
    margin-left: 20px;
}

.all_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
}