html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.body_layout {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: bisque;
    /* margin-top: 40px; */
    min-height: max-content;
}

.main__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}