.header {
  display: flex;
  gap: 280px;
  width: 212vh;
  height: 70vh;
  min-height: max-content;
  padding: 0 20px;
  box-sizing: border-box;
  background-image: url("/back4.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.logo {
  position: relative;
  top: 20px;
  left: 20px;
  width: 260px;
  height: 220px;
  border-radius: 4px;
}

.cart_button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: inherit;
  transition: all 150ms ease-in-out;
  padding: 0;
}

.cart_button:hover {
  transform: translateY(1px);
}

.cart_button:active {
  transform: translateY(1px);
}

.cart_button:hover svg {
  cursor: pointer;
}

.header__right_side {
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  gap: 470px;
  height: fit-content;
  width: fit-content;
  padding-right: 20px;
}