.bags__wrap {
    display: flex;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    gap: 40px;
}

.bags__section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    height: 100%;
    padding: 0 20px;
    width: 100%;
}