.bags__wrap {
    display: flex;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 97%;
    height: fit-content;
    padding: 40px 20px;
}

.bags__filters_section {
    min-width: 200px;
}

.bags__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
    height: 80%;
}