.categories {
    /* background-color: #424F59; */
    /* background-color: rgba(31, 103, 79, 0.5); */
    background-color: #5CC1C1;
    width: 90%;
    min-height: min-content;
    padding: 0 20px;
    font-size: 70%;

}

.category__sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    list-style: none;
    border-right: 1px solid;
    align-self: center;
    color: aliceblue;

}

.category__sections li:not(:last-child){
    border-right: 1px solid white;
    padding-right: 50px;
}

.category__sections li span{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.categories__icon {
    display: block;
    fill: aliceblue;
    width: 40px;
    height: 40px;
}


.category__sections:last-child {
    margin-right: 40px;
    border-right: none;
}