.categories {
    display: flex;
    width: 97%;
    min-height: min-content;
    font-size: 70%;
    padding: 0 20px 40px 20px; 
    background-image: url("/BagsShop/background.jpg");
}

.category__sections {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: center;
}

.category__sections li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.category__link {
    color: #A5D4D9;
    stroke: #A5D4D9;
    width: 80%;
    padding: 10px 0;
    border: 1px solid;
    box-shadow: 1px 1px 1px 0.5px;
    border-radius: 50%;
}

.category__link span {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
    font-style: italic;
    font-weight: bold;
    color: #055353;
}

.category__link:hover {
    cursor: pointer;
    /* background: linear-gradient(#5CC1C1, #096c5d); */
    /* background-color: #A3D4D8; */
    background: linear-gradient(.25turn, #A3D4D8, rgba(238, 201, 0, 0.4));

}

.category__link:active {
    cursor: pointer;
    background: linear-gradient(#A3D4D8, #5CC1C1);
}

.categories__icon {
    display: block;
    fill: aliceblue;
    width: 40px;
    height: 40px;
}

.category__sections:last-child {
    margin-right: 40px;
}