.footer_wrap {
    width: 97%;
    height: 30%;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(127, 255, 212, 0.5);
}

.footer__sections {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 40px;
}

.footer__information:not(:nth-child(3)),
.footer__information:not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    opacity: 0.7;
}

.footer__information:nth-child(3),
.footer__information:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.7;
}

.footer__information_svg {
    display: flex;
    gap: 10px;
}

.footer__item {
    transition: all 150ms ease-in-out;
}

.footer__item:hover {
    text-shadow: 0.5px 0.5px 0px black;
    background-color: #A1D2D8;
    border-radius: 10%;
}

.footer__item:active {
    transform: translateY(1px);
}

.footer__information h4 {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
}

.footer_wrap div {
    box-sizing: border-box;
}